<ul class="app-nav-list">
    <li class="app-nav-list__item">
        <a
            href="/users/<%= profile.id %>"
            class="app-nav-list__link"
        >
            <%= profile.name %>
        </a>
    </li>

    <li class="app-nav-list__item">
        <a
            href="/login/logout"
            class="app-nav-list__link"
        >
            Logout
        </a>
    </li>
</ul>