<ul class="app-nav-list">
    <li class="app-nav-list__item">
        <a
            href="/login"
            class="app-nav-list__link <%= page === 'login' ? 'app-nav-list__link--active' : '' %>"
        >
            Login
        </a>
    </li>

    <li class="app-nav-list__item">
        <a
            href="/signup"
            class="app-nav-list__link <%= page === 'signup' ? 'app-nav-list__link--active' : '' %>"
        >
            Sign Up
        </a>
    </li>
</ul>